
main{
    background-color: aqua;
    
    background-image: url(Imagens/target001.png);
    background-position: center;
    background-size: cover;
    
    height: 500px;
    width: 500px;

    position: relative;
}

section{
    background-color: rgba(0, 0, 0, 0.439);
    background-image: url(Imagens/target001.png);
    background-size: cover;
    background-position: center;
    
    height: 100px;
    width: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
}


