div{
    text-align: center;
    background-color: bisque;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
}

.flex-item{
    width: 50px;
    height: 50px;
    background-color: lightblue;
    border: 1px solid black;
    margin: 5px;
}

/*propriedade order*/
.flex-container1{
    display: flex;
    flex-flow: row wrap;
}

.flex-container1 div:nth-child(3){
    background-color: blueviolet;
    order: 0;
}

.flex-container2{
    display: flex;
    flex-flow: row wrap;
}

.flex-container2 div:nth-child(3){
    background-color: blueviolet;
    order: 1;
}

.flex-container3{
    display: flex;
    flex-flow: row wrap;
}

.flex-container3 div:nth-child(3){
    background-color: blueviolet;
    order: -1;
}

.flex-container4{
    height: 200px;
    display: flex;
    flex-flow: row wrap;
}

.flex-container4 div:nth-child(3){
    background-color: blueviolet;
    order: 0;
    align-self: center;
}

.flex-container5{
    height: 200px;
    display: flex;
    flex-flow: row wrap;
}

.flex-container5 div:nth-child(3){
    background-color: blueviolet;
    order: 0;
    align-self: flex-start;
}

.flex-container6{
    height: 200px;
    display: flex;
    flex-flow: row wrap;
}

.flex-container6 div:nth-child(3){
    background-color: blueviolet;
    order: 0;
    align-self: flex-end;
}

.flex-container7{
    height: 200px;
    display: flex;
    flex-flow: row wrap;
}

.flex-container7 div:nth-child(3){
    height: auto;
    background-color: blueviolet;
    order: 0;
    align-self: stretch;
}

/*flex-grow*/
.flex-container8{
    width: 500px;
    display: flex;
    flex-flow: row wrap;
}

.flex-container8 div{
    box-sizing: border-box;
    margin: 0px;
    flex-grow: 1;
} 

.flex-container9{
    height: 50px;
    width: 500px;
    display: flex;
    flex-flow: row wrap;
}

.flex-container9 div{
    box-sizing: border-box;
    margin: 0px;
}

.flex-container9 :nth-child(3){
    background-color: blueviolet;
    flex-grow: 1;
} 

.flex-container10{
    height: 50px;
    width: 500px;
    display: flex;
    flex-flow: row wrap;
}

.flex-container10 div{
    box-sizing: border-box;
    margin: 0px;
}

.flex-container10 :nth-child(3){
    background-color: blueviolet;
    flex-grow: 1;
} 

.flex-container10 :nth-child(5){
    background-color: green;
    flex-grow: 4;
} 

/*flex-shrink*/
.flex-container11{
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-container11 div{
    box-sizing: border-box;
    margin: 0px;
    flex-shrink: 1;
} 

.flex-container11 :nth-child(2){
    background-color: blueviolet;
    flex-shrink: 5;
} 