*{
    background-color: darkgoldenrod;
    color: darkred;

}


h1, p{
    color: aquamarine;
}


.prg1, .prg2{
    background-color: blueviolet;
}

h2.prg1{/*seletor por classe de elemento específico*/
    color: chartreuse;
}

.prg1.p3{/*seletor por subclasse*/
    background-color: darkgreen;
}

#primeiro_h2{/*seletor por id*/
    background-color: cornflowerblue;
}
